.menu {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}
.nav-link {
  text-decoration: none;
  color: #333;
  margin-right: 20px;
  font-weight: normal;
  font-size: 1.2em;
  padding: 10px;
  background-color: #eee;

}
.nav-link.active {
  color: #990000;       
  font-weight: bold; 
  text-decoration: underline;
}