body{
  width: 100vw;
  height: 100vh;
  background-color: #333;
  color: #eee;
  margin: 0;
  padding: 0;
  font-size: 12px;
}
.product-list{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  gap: 20px;
}
.product-container{
  width: 160px;
  height: 400px;
  background-color: #222;
  padding: 20px;
}
.product-name {
  font-size: 1.3em;
text-align: center;
}
.product-img{
  width: 150px;
  height: 150px;
  object-fit: cover;       
  object-position: center;  
  display: block;  
}
.product-price{
  font-size: 2em;
text-align: right;
}
.product-description{
  font-size: 0.8em;
}
.product-category{
  font-size: 0.8em;
  font-weight: bold;
text-align: center;
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.copyright-text {
  font-size: 10px;
}