body{
  width: 100vw;
  height: 100vh;
  background-color: #333;
  color: #eee;
  margin: 0;
  padding: 0;
  font-size: 12px;
}
.product-list{
  border: 1px solid #eee;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 90%;
  flex-wrap: wrap;
  gap: 20px;
}
.product-container{
  width: 200px;
  height: 400px;
}
.product-img{
  width: 150px;
  height: 150px;
  object-fit: cover;       
  object-position: center;  
  display: block;  
}
.product-price{
  font-size: 2em;
}
.product-description{}
.prodct-category{}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.copyright-text {
  font-size: 10px;
}